body{
    margin:0;
    
}

section{
    height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/20daee97-3054-4bd6-9088-13c2fefc1a54/KR-ko-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

section:before{
    content:'';
    background: linear-gradient(to right, black,transparent);
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:50%;
}

h1{
    color:white;
    position: absolute;
    top: 66%;
    left:35%;
    font-family:sans-serif;
    transform:translateX(-150px) translateY(-300px) translateZ(-450px);
    text-align:center;
    display: flex;
    font-size: 4.5vmax;
}
h4{
    color:white;
    position: absolute;
    top: 80%;
    left: 27%;
    font-family:sans-serif;
    text-align:center;
    display: flex;
    transform:translateX(-150px) translateY(-300px) translateZ(-450px);
    font-size: 2vmax;
    line-height: 100%;
}
.main{
    font-size: 3em;
    position: absolute;
    top: 100%;
    left:40%;
    font-family:sans-serif;
    transform:translateX(-150px) translateY(-300px) translateZ(-450px);
    text-align:center;
}
.start{
    background-color:red;
    font-size: 2em;
    position: absolute;
    top: 101%;
    left:60%;
    font-family:sans-serif;
    transform:translateX(-150px) translateY(-300px) translateZ(-450px);
    text-align:center;
    border:none;
    color: white;
    border-radius: 12px;
    margin:0 auto; 
    width: 180px;
    height: 50px;
    flex-grow:2;
}
.login{
    background-color:red;
    font-size: 2em;
    position: absolute;
    top: 2%;
    right: 1%;
    font-family:sans-serif;
    text-align:center;
    border:none;
    color: white;
    border-radius: 12px;
    margin:0 auto; 
    width: 180px;
    height: 50px;
    flex-grow:2;
}
.item input{
    text-align:left;
    display: flex;
    flex-grow:1;
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

select{
    height: 40px;
    width: 200px;
    position: absolute;
    top: 20px;
    right: 17%;
}
img.netflix{
    float: left;
    z-index: 1;
    position:relative;
    height: 10vh;
    display: block;
}


