body{
    margin:0;
}

section{
    height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/20daee97-3054-4bd6-9088-13c2fefc1a54/KR-ko-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

section:before{
    content:'';
    background: linear-gradient(to right, black,transparent);
    position: absolute;
    left:0;
    height: 100%;
    width:50%;
}

h1{
    color:white;
    position: absolute;
    top: 66%;
    left:35%;
    font-family:sans-serif;
    transform:translateX(-150px) translateY(-300px) translateZ(-450px);
    text-align:center;
    display: flex;
    font-size: 4.5vmax;
}
h4{
    color:white;
    position: absolute;
    top: 80%;
    left: 27%;
    font-family:sans-serif;
    text-align:center;
    display: flex;
    transform:translateX(-150px) translateY(-300px) translateZ(-450px);
    font-size: 2vmax;
    line-height: 100%;
}
div{
    font-size: 3em;
    position: absolute;
    top: 100%;
    left:40%;
    font-family:sans-serif;
    transform:translateX(-150px) translateY(-300px) translateZ(-450px);
    text-align:center;
}
button{
    background-color:red;
    font-size: 2em;
    position: absolute;
    top: 101%;
    left:60%;
    font-family:sans-serif;
    transform:translateX(-150px) translateY(-300px) translateZ(-450px);
    text-align:center;
    border:none;
    color: white;
    border-radius: 12px;
    margin:0 auto; 
    width: 35%;
    height: 8%;
    max-width: 35%;
}
.item input{
    width: 150%;
    height: 105%;
    max-width: 300%;
    text-align:left;
}

select{
    height: 40px;
    width: 200px;
    margin-right: 0%;
}
.netflix{
    float: left;
    z-index: 1;
    position:relative;
    height: auto;
    display: block;
}


