<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix</title>
    <link href="/logo.png" rel="shortcut icon" type="image/x-icon">
    <script type="text/javascript"></script>

    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <img class="netflix" src="/net.png">
    <section>
        <select>
            <option value="1">한국어</option>
            <option value="2">English</option>
        </select>
        <button class="login" type="submit" onClick="location.href='./login.html'">로그인</button>
        <h1 class="word1">영화와 시리즈를 무제한으로.</h1>
        <h4 class="word2">다양한 디바이스에서 시청하세요. 언제든 해지하실 수 있습니다.
            <br><br>
            시청할 준비가 되셨나요? 멤버십을 등록하거나 재시작하려면 이메일 주소를 입력하세요.
        </h4>
        <form class="item">
            <div class="main">
                <input type="text" name="username" id="username" class="text-field" placeholder="아이디"><br>
            </div>
            <div class="img-cover"></div>
            <button class="start" type="submit" onClick="location.href='./index2.html'">시작하기 > </button>
            </form>
    </section>
    <script type="text/javascript" src="/index.js"></script>
</body>
</html>
