<!DOCTYPE html>
<html>
<head>
  <title>로그인</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>
  <div class="login-form">
    <form name="form1" action="/login" method="post">
      <input oninput="confirm()" type="text" name="username" id="username" class="text-field" placeholder="아이디"><br>
      <input oninput="confirm()" type="password" name="password" id="password-input" class="text-field" placeholder="비밀번호"><br>
      <!-- <input type="submit" value="회원가입" id="submit-btn"> -->
      <input type="submit" value="로그인" id="login-btn">
      <!-- <button>로그인</button> -->
    </form>

    <div class="links">
      <a href="#" id="p">비밀번호를 잊어버리셨나요?</a>


    </div>
  </div>
  <div class="check">
    <form id="form2" name="form2" action="/register/idcheck" method="post">
      <input oninput="confirm2()" type="text" name="check" id="check-input" class="text-field" placeholder="아이디"><br>
      <input type="button" value="아이디확인" id="check-btn">
    </form>
  </div>


  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script>
    function confirm(){
      if($('#password-input').val() == "" || $('#username').val() == ""){
      	$("#submit-btn").css({"backgroundColor":"#9B9B9B"});
        document.getElementById("submit-btn").style.backgroundColor="#9B9B9B";
        document.getElementById("submit-btn").disabled = true;
      }else{
        document.getElementById("submit-btn").style.backgroundColor="#1BBC9B";
        document.getElementById("submit-btn").disabled = false;
      }
      }
    function confirm2(){
      if($('#check-input').val() == ""){
        $("#check-btn").css({"backgroundColor":"#9B9B9B"});
        document.getElementById("check-btn").style.backgroundColor="#9B9B9B";
        document.getElementById("check-btn").disabled = true;
      }else{
        document.getElementById("check-btn").style.backgroundColor="#1BBC9B";
        document.getElementById("check-btn").disabled = false;
      }
      }
    $("#check-btn").click(function(){
      $.ajax({
        type:"POST",
        url:"/register/idcheck",
        data:$("#form2").serialize(),
        success:function(data){
          console.log(data);
          if(data){
            alert("가입이 불가능합니다.")
          }else{
            alert("가입이 가능합니다.")
          }
        },
        fail:function(){
          console.log("통신실패");
        },
        beforeSend:function(){
          console.log("데이터보내기 전");
        },
        complete:function(){
          console.log("ajax완료");
        }
      })
    });
    
  </script>
</body>
</html>