<!DOCTYPE html>
<html lang="en">
<head>
  <title>로그인</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheet/loginstyle.css">
</head>
<body>
  <img class="netflix" src="/net.png">
  <h1 class="word">로그인</h1>
  <div class="login-form">
    <form name="form1" action="" method="post">
      <input type="text" name="username" id="username" class="text-field" placeholder="아이디"><br>
      <input type="password" name="password" id="password-input" class="text-field" placeholder="비밀번호"><br>
      <input type="submit" value="로그인" id="login-btn">
    </form>
    <div class="links">
      <a href="#" id="p" class="miss">비밀번호를 잊어버리셨나요?</a>
    </div>
  </div>
</body>
</html>